.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px 20px;
    background-color: #fff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
.nav-menu li a {
    font-family: 'Manrope', sans-serif;
    font-weight: 400; 
    font-size: 16px;
}

.nav-left {
    flex: 1;
}

.logo {
    height: 50px; 
    padding-left: 150px;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.nav-menu li a {
    text-decoration: none;
    color: #264D6F;
    font-weight: 400;
}

.nav-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.nav-right img {
    height: 15px;
    width: auto;  
    margin-right: 5px;
    padding-top: 15px;
}

.phone-number {
    font-weight: bold;
    color: #fff; 
    background-color: #F7931E;
    padding: 5px 10px;
    border-radius: 5px; 
}
.phone-logo{
    height: 5px;
    width: 5px;
}

.burger-menu {
    display: none; 
    font-size: 28px;
    cursor: pointer;
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .nav-menu {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    .nav-right {
        justify-content: center;
        width: 100%;
    }
}
