.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

.navbar__left,
.navbar__right {
    display: flex;
    align-items: center;
}

.navbar__left {
    flex: 1;
}

.navbar__logo {
    height: 50px;
    padding-left: 20px;
}

.navbar__menu {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
    flex: 2;
}

.navbar__link {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #264D6F;
}

.navbar__phone {
    font-weight: bold;
    color: #fff;
    background-color: #F7931E;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.navbar__phone-icon {
    height: 15px;
    margin-right: 5px;
}

.navbar__burger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    background: none;
    border: none;
    color: #264D6F;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar__menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #fff;
        padding: 10px 0;
    }

    .navbar__menu--active {
        display: flex;
    }

    .navbar__burger {
        display: block;
        align-self: flex-end;
        margin-bottom: 10px;
    }

    .navbar__right {
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    }
}