.work {
    font-family: 'Manrope', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding: 50px 20px;
    color: #264D6F;
}

.work__container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}


.work__card {
    width: 376px;
    height: 271px;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    position: relative;
    transition: transform 0.3s ease, background-color 0.3s ease; /* Плавная анимация */
}

.work__card:hover {
    transform: scale(1.05); /* Лёгкое увеличение */
    background-color: #f0f8ff; /* Слегка меняем фон при наведении */
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15); /* Чуть более выразительная тень */
}

.work__icon, .work__icon-dia {
    width: 40px; /* Размер логотипа */
    height: 40px;
    margin-bottom: 50px;
    margin-left: 16px;
}




.work__title {
    color: #264D6F;
    font-size: 22px;
    margin: 16px;
}

.work__text {
    font-size: 16px;
    color: #264D6F;
    margin-top: 10px;
    margin-left: 16px;
    font-weight: lighter;
    text-align: left;
}